html(lang="en")
    head
        meta(charset="utf-8")
        title CEA
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/index.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js", defer)
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", defer)
        script(src="js/index.js", defer)

    body
        section(class="overlay" id="first")
            section(class="overlay-content")
                section(class="alert alert-danger", id="errors")
                section(id="login-screen")
                    p Please enter your username
                    form(class="form-inline", id="usernameForm")
                        section(class="form-group")
                            input(type="text", class="form-control input-lg", placeholder="Your username", id="username")
                        input(type="submit", name="join", id="join", value="Join", class="btn btn-success btn-lg")