html(lang="en")
    head
        meta(charset="utf-8")
        title CEA
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/index.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js", defer)
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", defer)
        script(src="js/index.js", defer)

    body
        .overlay
            .overlay-content
                #errors.alert.alert-danger
                #login-screen
                    form#usernameForm
                        .form-group
                            label Please enter your username
                            input#username.form-control.input-lg(type="text", placeholder="Your username")
                        input#join.btn.btn-success.btn-lg(type="submit", value="Join")
                    form#infoForm
                        .form-group.row
                            label.col-md-2.col-form-label Username
                            .col-md-4
                                p.form-control-static email@example.com
                        .form-group.row
                            label.col-md-2.col-form-label Age
                            .col-md-4
                                input.form-control(type="number", name="age", placeholder="Age")
                        .form-group.row
                            label.col-md-2.col-form-label Country
                            .col-md-4
                                input.form-control(type="text", name="country", placeholder="Country of birth")
                        .form-group.row
                            label.col-md-2.col-form-label Gender
                            .col-md-4
                                label.form-check-inline
                                    input.form-check-input(type="radio", name="male")
                                    p Male
                                label.form-check-inline
                                    input.form-check-input(type="radio", name="female")
                                    p Female
                        .form-group.row
                            .col-md-7
                                button.btn.btn-lg.btn-primary(type="submit") Sign in
