* {
    font-size: 20px;
}

.black {
    background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
    position: relative;
    top: 10%;
    color: #FFF;
}

/* loginForm styles */
.centreForm{
    text-align: center;
}

.centreInput {
    width: 30%;
    margin: 0 auto;
}
/* end loginFrom styles */

/* infoForm styles */
#infoForm {
    margin-left: 30%;
}

#male, #female {
    margin-right: 5px;
}

#female {
    margin-left: 20px;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input[type="text"]:valid {
    box-shadow: 0 0 5px 1px green;
}

input {
    box-shadow: 0 0 2px 1px #4F4F4F;
}
/* end infoForm stlyes */

/* courseForm styles */
.twoButton {
    width: 14%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#code {
    width: 30%;
    margin-left: 35%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.newList {
    width: 50%;
    margin-left: 22%;
    overflow-y: scroll;
    height: 60%;
    list-style: none;
}

.newList li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #6E6E6E;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.newList li:nth-child(odd) {
    background: #888;
}

.newList li:hover {
    background: #4F4F4F;
}

#courses li.checked {
    background: #242424;
}

#courses li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 12px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* end courseForm styles */

/* dataCollection styles */
.dataCollection {
    margin-left: 30%;
}

.next {
    width: 100px;
    margin: 10px;
}

.rating {
    width: 300px;
}

.select {
    width: 300px;
    line-height: 300px;
    overflow-y: scroll;
}

/* end dataCollection styles */

/* dataForm styles */
.new {
    width: 70%;
    margin-left: 15%;
}

.new a {
    text-decoration: none;
    display: block;
}

.center {
    margin-left: 35%;
    margin-bottom: 2%;
}

.content {
    color: #4F4F4F;
    margin-left: 20%;
    margin-top: 3%;
}

.bu {
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

.sameLine {
    width: 15%;
    display: inline-block;
    margin: 5px;
}

.sameLineContainer {
    width: 600px;
    margin: 10px;
}
/* end dataForm styles */

/* snackbar styles */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #69b4ff;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
    font-size: 2rem;
}

.show {
    visibility: visible !important;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* end snackbar styles */

/* recommandatioin styles*/
#rankBy label{
    margin: 20px;
}
/* end recommandatioin */

.titleCenter {
    margin-left: 15%;
    margin-bottom: 5%;
}
