* {
    font-size: 20px;
}

#infoForm {
    margin-left: 30%;
}

.overlay {

    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 35%;
    width: 100%;
    margin-top: 30px;
    color: #FFFFFF;
}

#loginForm {
    text-align: center;
}

/* info form styles */

#infoForm {
    margin-left: 30%;
}

#username {
    width: 30%;
    margin: 0 auto;
}

#male, #female {
    margin-right: 5px;
}

#female {
    margin-left: 20px;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

/* end infoForm stlyes */

/* courseForm styles */
#courseForm {
    text-align: center;
}

#addCourse {
    margin-left: 10px;
    margin-bottom: 20px;
}

#course {
    width: 30%;
    margin: 0 auto;
}

#courses {
    width: 50%;
    margin-left: 23%;
    overflow-y: scroll;
    height: 30%;
    list-style: none;
}

#courses li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #4F4F4F;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#courses li:nth-child(odd) {
    background: #242424;
}

#courses li:hover {
    background: #6E6E6E;
}


/* intetrest form styles */ 
#interestForm {
    margin-left: 30%;
}

/* end interest */

/* snackbar styles */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
    font-size: 1.5rem;
}

.show {
    visibility: visible !important;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* end snackbar styles */

