* {
    font-size: 20px;
}

#infoForm {
    margin-left: 30%;
}

.overlay {   
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 35%; 
    width: 100%;
    margin-top: 30px;
    color: #FFFFFF;
}

#loginForm {
    text-align: center;
}

#username {
    width: 30%;
    margin: 0 auto;
}

#male, #female {
    margin-right: 5px;
}

#female {
    margin-left: 20px;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

/* snackbar styles*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
    font-size: 1.5rem;
}

.show {
    visibility: visible !important;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

