* {
    font-size: 20px;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    margin-top: 30px;
    color: #FFFFFF;
}

/* loginForm styles */
#loginForm {
    text-align: center;
}

#username {
    width: 30%;
    margin: 0 auto;
}
/* end loginFrom styles */

/* infoForm styles */
#infoForm {
    margin-left: 30%;
}

#male, #female {
    margin-right: 5px;
}

#female {
    margin-left: 20px;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input[type="text"]:valid {
    box-shadow: 0 0 5px 1px green;
}

input {
    box-shadow: 0 0 2px 1px #4F4F4F;
}
/* end infoForm stlyes */

/* courseForm styles */
#courseForm {
    text-align: center;
}

#addCourse, #startInterest {
    width: 14%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

#code, #semester, #year,#timeOfDay {
    width: 30%;
    margin-left: 35%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#editions {
    width: 50%;
    margin-left: 23%;
    overflow-y: scroll;
    height: 30%;
    list-style: none;
}

#editions li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #4F4F4F;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#editions li:nth-child(odd) {
    background: #242424;
}

#editions li:hover {
    background: #6E6E6E;
}
/* end courseForm styles */

/* intetrestForm styles */ 
#interestForm {
    margin-left: 30%;
}
/* end interestForm styles */

/* dataForm styles */
#dataForm {
    width: 50%;
    margin-left: 25%;
}

#dataForm a {
    text-decoration: none;
    display: block;
}

.center {
    margin-left: 30%;
    margin-bottom: 2%;
}

.content {
    color: #4F4F4F;
    margin-left: 20%;
    margin-top: 3%;
}

#skipData, #startNew {
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}
/* end dataForm styles */

/* snackbar styles */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #69b4ff;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
    font-size: 2rem;
}

.show {
    visibility: visible !important;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* end snackbar styles */

